* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #F9F8F6;
}

.notes {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.note {
  background: #C9B59C;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 1.4rem 1.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  animation: noteFadeIn 0.6s ease forwards;
}



.note:hover {
  background: #c3a786;
  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}


.note h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #080808;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
}

.note p {
  font-size: 1rem;
  line-height: 1.6;
  color: #484848;
  margin-bottom: 1.2rem;
}


.note button {
  border: none;
  padding: 0.5rem 1.1rem;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}


.note .edit {
  background: rgba(99, 102, 241, 0.12);
  background: #BED7DC;
  color: black;
  margin-right: 0.5rem;
}

.note .edit:hover {
  background: #79cadb;
  transform: translateY(-2px);
}

.note .delete {
  background: rgba(239, 68, 68, 0.12);
  background: #FFABAB;
  color: black;
  margin-right: 10px;
}

.note .delete:hover {
  background-color: #ef6868;
  transform: translateY(-2px);
}


.note button:active {
  transform: scale(0.95);
}


@keyframes noteFadeIn {
  from {
    opacity: 0;
    transform: translateY(14px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.note-create-form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #EFE9E3;
}

.note-create-form input {
  background-color: #C9B59C;
  color: #000000;
  font-size: 1rem;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.note-create-form input::placeholder {
  font-size: 1.2rem;
  color: rgb(53, 53, 53);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.note-create-form button {
  background-color: rgb(46, 46, 46);
  color: #efece3;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  gap: 10px;
}
.note-create-form button:active {
  scale: 0.95;
}
