* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(28, 28, 28);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.note {
  background-color: rgb(83, 83, 83);
  padding: 1rem;
  color: lightblue;
  max-width: 20rem;
  border-radius: 10px;
}

.notes {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
